.root {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 42px;
  width: 500px;
}
.main {
  background-color: #2c2c2c;
  color: white;
  border-radius: 42px 42px 0px 0px;
  padding: 40px;
}
.footer {
  padding: 40px;
}

.app {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
/* HEADER SECTION */
.header_title {
  font-size: 20px;
  font-weight: bold;
}
.header_icon {
  height: 30px;
  width: 30px;
}
.header_root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.header_root_left {
  display: flex;
  align-items: center;
}
.header_root_right {
  display: flex;
  align-items: center;
}

/* BODY STYLE */
.grid_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 30px 0px;
  gap: 20px;
}

.grid_item {
  gap: 5px;
  display: flex;
}

.btn_generate {
  all: unset;
  font-size: x-large;
}
.btn_generate:hover {
  cursor: pointer;
}
.btn_container {
  display: flex;
  justify-content: center;
}
.btn_copy {
  all: unset;
  font-size: x-large;
}
.btn_copy:hover {
  cursor: pointer;
}

/* FOOTER STYLE */
.footer_root {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  position: relative;
  font-size: x-large;
}

.copy_paste {
  position: absolute;
  right: 25px;
  width: 15px;
}

.copy_paste:hover {
  cursor: pointer;
}
